*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Monserrat';  
  src: local("Monserrat"),       
}
html {
  font-size: 62.5%;
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width : 767px) {
  body {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
