.slideshow {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: 10rem;
    margin-right: 10rem;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);

    @media(max-width: 768px) {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}
.slideshow:hover {
    opacity: 1;
}
.slideshow_container {
    display: flex;
    transition: transform .5s ease;
}
.slideshow_container_img {
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.slideshow_controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}
.slideshow_controls_chevron {
    width: 5%;
    height: auto;
    font-size: 50px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    
    @media(max-width: 768px) {        
        margin-right: 2rem;
    }
}
.slideshow_controls_chevron:hover {
    opacity: 1;
}
.slideshow_idx {
    position: absolute;
    color: white;    
    bottom: 10px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    opacity: 1;
    transition: opacity 250ms ease-in-out;

    @media(max-width: 768px) {        
            display: none;
        }
}
