.home {
    width: 33%;
    
    @media(min-width: 768px) and (max-width: 1090px) {
        width: 50%;
        padding: 2rem;
    }
}
.home_figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #0000002e;
    margin-block: 0;
    margin-inline: 0;
    margin: 1rem;
    border-radius: 15px;
    transition: transform 250ms ease-in-out;    
}
.home_figure:hover {
    transform: scale(1.03);
}
.home_cover {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 15px;
}
.home_figcaption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    height: 150px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 13%, rgba(0,212,255,0) 70%);
    border-radius: 15px;
}
.home_title {
    color: white;
    font-size: 15px;
    width: 95%;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

@media(max-width: 768px) {
    .home {
        width: 100%;
    }
    .home_figure {
        margin: 1rem 0.5rem;
    }
    .home_cover {
        height: 400px;
    }
}












