.home_container {
    width: 100%;
    margin: 0;
    background: #cac7c7;
    border-radius: 15px;
}
.home_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    background: #faf9f9;
    border-radius: 15px;
    list-style-type: none;
}

@media(max-width: 768px) {
    .home_container {
            background-color: transparent;
            margin: 0 0 7rem 0;
            padding: 0;
            width: 100%;
        }
    .home_list {
        padding: 0rem;
        }      
    }