.housing_container {
    width: 95%;
    margin: 2rem auto 9rem auto;
    background: #cac7c7;
    border-radius: 0.8rem;
}
.housings_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    background: #faf9f9;
    border-radius: 15px;
}

@media(max-width: 768px) {
    .housings_container {
            background-color: transparent;
            margin: 0 0 7rem 0;
            padding: 0;
            width: 100%;
        }
    .housing_list {
        padding: 0rem;
        }      
    }