.home_container {
    background: #cac7c7;
    border-radius: 15px;
    margin: 10rem;
    margin-right: 10rem;

    @media(max-width: 425px) {
        background-color: transparent;                
        padding: 0;
        width: 100%;
        margin-left: 0;
        }
}
.home_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    background: #faf9f9;
    border-radius: 15px;
    list-style-type: none;

    @media(max-width: 768px) {
        padding: 0rem;
        margin-left: 0rem;
        margin-right: 0rem;
        }        
}


