.nav_list {
    display: flex;
    gap: 50px;
    color: #ff6060;
    font-size: clamp(12px, 2.5vw, 24px);
    list-style-type: none;
}
a.link {
    color: #ff6060; 
    text-decoration: none;
}
a:active{ 
    text-decoration: underline;
}

@media screen and (max-width: 700px){
    .nav_list {
        gap: 20px;
    }
}