.housing_page {
   min-height: 35rem;
    margin: 1rem 0 1rem 0;

    @media (max-width: 768px) {
        margin-left: 10rem;
        margin-right: 10rem;
        
    }
    @media(max-width: 425px) {
        min-height: 40rem;
        margin-left: 0;
        margin-right: 0;
        
    }
}
.housing_header {
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;

    @media(max-width: 768px) {
        flex-direction: column;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        align-items: flex-start;
    }
}
.housing_header_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: 768px) {        
            margin-bottom: 1rem;
            
        }
}
.housing_header_title {
    font-size: 35px;
    margin: 0;

    @media(max-width: 768px) {        
        font-size: 20px;
        font-weight: 200;
        line-height: 1.5;
    } 
}
.housing_header_subtitle {
    font-size: 18px;
    margin: 0.2rem 0 1rem 0;

    @media(max-width: 768px) {        
        font-size: 15px;
        font-weight: 100;
    } 
}
.housing_header_tags {
    display: flex;
    flex-wrap: wrap;

    @media(max-width: 768px) {        
            margin-bottom: 1rem;
        }
}
.housing_header_tags__tag {
    font-size: 15px;
    color: white;
    background: #ff5656;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    margin: 0 1rem 0 0;
    padding: 0.2rem 1.5rem;
    border-radius: 0.5rem;

    @media(max-width: 768px) {        
        font-size: 10px;
        margin-bottom: 1rem;
    }
    
}
.housing_hoster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @media(max-width: 768px) {
            flex-direction: row-reverse;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0.5rem; 
            width: 100%;     
        }
}
.housing_hoster_infos {
    display: flex;
    align-items: center;

    @media(max-width: 768px) {
            align-items: center;
            
        }
}
.housing_hoster_name {
    width: 120px;
    text-align: right;
    margin-right: 0.5rem;
    font-size: 18px;

    @media(max-width: 768px) {
            margin-top: 0;
            margin-bottom: 0;
        }
}
.housing_hoster_img {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 3rem;
    object-fit: cover;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
}
.housing_hoster_ratings {
    margin-top: 1rem;
    text-align: right;

    @media(max-width: 768px) {
            padding: 0 0.2rem 1rem 0;
        }
}
.housing_hoster_star {
    padding-left: 0.3rem;
    font-size: 25px;

    @media(max-width: 768px) {
            padding: 0 0.2rem 3rem 0;
            font-size: 15px;
        }
}
.housing_hoster_star_grey {
    color: rgb(188, 186, 186);
}
.housing_collapses {
    display: flex;    
    justify-content: space-between; 
    margin-left: 10rem;
    margin-right: 10rem;

    @media(max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 0;
            margin-right: 0;            
        }
}
.collapse_header {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.collapse_content {
    margin-top: 0;
    border-radius: 0 0 15px 15px;
}
.housing_collapses_content { 
    width: 47%;
    margin-top: 20px; 

    @media(max-width: 768px) {
        margin-bottom: 0;
        width: 100%;
        }
}
ul {
    margin: 0;
    list-style-type: none;
}